name: FastAPI Backend Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  builds:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: GPT Key
      run: |
        cd backend
        touch apikeys.py
        echo 'OPENAI_API_KEY=${{ secrets.GPT_KEY }}' > apikeys.py
        ls -a
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./backend/Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/lifelens:latest
    
    - name: Create SSH key
      run: |
        cd backend
        mkdir -p ~/.ssh
        echo "$SSH_KEY" > key.pem
        sudo chmod 400 key.pem
        ssh-keyscan -H "$IP" >> ~/.ssh/known_hosts
        chmod 644 ~/.ssh/known_hosts
      shell: bash
      env:
        SSH_KEY: ${{secrets.SSHKEY}}
        IP: ${{secrets.EC2_IP}}

    - name: Ssh into AWS EC2 and update docker container
      run: |
        cd backend
        ssh -i "key.pem" ubuntu@"$IP" sudo docker ps -a
        ssh -i "key.pem" ubuntu@"$IP" "sudo docker ps -a -q | xargs -I {} sudo docker stop {}"
        ssh -i "key.pem" ubuntu@"$IP" "sudo docker ps -a -q | xargs -I {} sudo docker rm {}"
        ssh -i "key.pem" ubuntu@"$IP" sudo docker pull conradmo/lifelens
        ssh -i "key.pem" ubuntu@"$IP" sudo docker run -d -p 8000:8000 conradmo/lifelens
      env:
        IP: ${{secrets.EC2_IP}}
